.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db
.DS_Store
.idea/
.vscode/
.env
env/
venv/
*.egg-info/
*.egg
*.pytest_cache/
coverage.xml
htmlcov/
*.ipynb_checkpoints/
backend/chat_logs.txt
frontend/__pycache__/
backend/__pycache__/
conversations/*
!conversations/.gitkeep
